@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    
  }
  .sec1{display:none;}
  
}


footer{text-align: center;
    background-color: black;
    color:white;
 
 bottom: 0;
 width: 100%;

    }
   footer p{display: inline-block;
    }

.footer{
    text-align: center;
    background-color: black;
    color:white;
 position:relative;
 bottom: 0;
 width: 100%;
}

.footer p{
    display: inline-block;
    
}

.footer2{
    text-align: center;
    background-color: black;
    color:white;
 position:absolute;
 bottom: 0;
 width: 100%;
}

.footer2 p{display:inline-block;}



.denied{text-align: center;
    color:red;
    padding-top:100px;
    
    
    
}
.denied p{color:white;
    font-size:25px;
}


.carousel-indicator #mycarousel{
    display: none;
    
}
.containertestimonials{
    background-color:black;
    width:75%;
    margin-left:12.5%; 
    margin-right:12.5%;
    height:75%;
    padding-left:10px;
    padding-right:10px;
    
}


.carousel {
	margin: 50px auto;
}
.carousel .item {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .media {
	position: relative;
	padding: 0 0 0 20px;
	margin-left: 20px;
    font-size:20px;
}

.carousel .testimonial {
    color: #fff;
    position: relative;    
    background: #4b5320;
	padding: 15px;
	margin: 0 0 20px 20px;
    font-size:25px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -20px;
}
.carousel .testimonial::before {
    width: 20px;
    height: 20px;
	background: #4b5320;
	box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.carousel .item .row > div:first-child .testimonial {
    margin:0;
	
}
.carousel .item .row > div:first-child .media {
	
}

.carousel .testimonial p {
	text-indent: 40px;
    line-height: 21px;
	margin: 0;
}
.carousel .testimonial p::before {
	
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
}
.carousel .overview {
	padding: 3px 0 0 15px;
}
.carousel .overview .details {
	padding: 5px 0 8px;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #4b5320;
}
.carousel .carousel-control {
	width: 30px;
	height: 30px;
 background:#666;
  
    
	
}
.movebuttons .carousel-control{
    position: relative;
    display:inline-block;
   
    border:none;
    left:80px;
    top:120px;
    margin-left:auto;
    margin-right: auto
    
    
    
}
.carousel-control i {
	
}
.carousel-control.left{
	left: auto;
    
    

}
.carousel-control.right img {
	left: auto;
}


.topnav {
  overflow: hidden;
  background-color: black;
}
.topnav img{float:left;}

.topnav a {
margin-left:10px;
 float:left;
  display: inline-block;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
margin-left:auto;
    margin-right: auto;
    
}

.active {
    float:left;
display:none;
  color: white;
}

.topnav .icon {
  display: none;
}
.active1 {
    float:left;

  color: white;
}
.dropdown {
    
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
   
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color:black;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: grey;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media screen and (min-width:1400px){
    footer{position:relative;
    
        text-align: center;
    background-color: black;
    color:white;
 
 bottom: 0;
 width: 100%;

        
    }
    footer p{
        
        
        display:inline-block;
    }
    .footer{position:absolute;
    }
    
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
    .topnav img{display:none;}
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .sec1{display:none;}

}



#g-recaptcha-response {
    display: block !important;
    position: absolute;
    margin: -78px 0 0 0 !important;
    width: 302px !important;
    height: 76px !important;
    z-index: -999999;
    opacity: 0;
}


.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.panel p a{color:white;}

.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
margin-left: 12.5%;
    margin-right: 12.5%;
    border:1px solid #ffffff;
    font-size:1.15em;
}

.panel {
    
    color:white;
  padding: 0 18px;
display: none;
  overflow: hidden;
width: 75%;
    margin-left:12.5%;
    margin-right:12.5%;
font-size: 1.15em;
}

.header1 h1{color:white;
text-align: center;}
.pricing h3{text-align: center;
color: white;}
.pricing p{text-align: center;
font-size: 1.15em;
color:white;
}
.pricing p{color:white;}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
    
    
    margin-left: auto;
    margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
    

}

tr:nth-child(even) {
  background-color: #000000;
    color: white;
}
tr:nth-child(odd) {
  background-color: #000000;
    color: white;
}

.pricing p a{color:white;}





.classes{
    font-size:5em;
    color:white;
    width:75%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}
.wrapper .ourschedule{width:75%;
display: block;
margin-left: auto;
margin-right: auto;
color:white;}
.form .input-group {padding:5px;
}





.mikebio p{font-size:1.15em;}

.mikebio ul li{font-size:1.15em;}

.registration1{color:white;
text-align:center;
display:block;
margin-right: auto;
margin-left: auto;
padding-top:1em;
padding-left:5em;
padding-right:5em;}


.gallery{margin:10px 50px;
text-align: center;}
.gallery img{width:230px;
padding:5px;
filter:grayscale(100%);
transition: 1s;
}

.gallery img:hover{filter:grayscale(0);
transform: scale(1.1);}








#centerfb{text-align: center;}

.fb{
}
.ig {display:inline-block;
height:500px;
width:500px;
}




.container3{color:white;
background-color:black;
    display:block;
    margin-right: auto;
    margin-left: auto;
    max-width:600px;
    padding-top:4em;
    padding-bottom:4em;
    padding-left:45px;
    padding-right:45px;
    
    
}


.container3 .btn{font-family: sans-serif;
text-transform: uppercase;
outline: 0;
background:green;
width:100%;
border:0;
padding:15px;
cursor: pointer;
margin:3px;
padding-left: 45px;
padding-right: 45px;
    display: block;
    margin-right: auto;
    margin-left:auto;
}
    


.container3 .checkbox .checkbox-inline{

display:block;
    margin-left:auto;
    margin-right:auto;
    
    
}




.workouts{text-align: center;
color:white;}

.carousel-inner img {
      width: 50%;
      height: 100%;
     display:block;
     margin-left: auto;
     margin-right:auto;
  }

.help{postion:relative;
margin-left:auto;
margin-right:auto;
}
.header h2{text-align:center;
color:white;
}
.form{display:block;
}

.form .register-form p{color:white;
}
.form .error p {color:white;
}

.form .input-group label{
color:white;
}



.container1{display:block;
margin-left:auto;
margin-right:auto;
background-color:black;}
.form .input-group{
padding:5px;
text-align:center;
}
body .header {text-align:center;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
color:white;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}




.header h1 {text-align: center;
    color: black;
    font-size:2em;
    font-family: sans-serif;
}
.header img {display: block;
    margin-left: auto;
    margin-right: auto;
}
body {background-color: #4b5320;
margin:0;
    padding:0;
    font-family:Quicksand;
}

.pic1 img {display:block;
    margin-left:auto;
margin-right:auto;
    border-left: "5px";
    
}

.container{
background-color:black;
color:white;}
 
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100px;
    padding:10px 100px;
    box-sizing:border-box;
    transition:.3s;
    
    
}
.navbar-custom{background-color: black;
}
.navbar-toggler{
    color:white;
    background-color:white;
}

nav.black {background: #4b5320;
height:100px;
padding: 10px 100px;
}

nav .logo {
    padding: 22px 20px;
    height 80px;
    float: left;
    font-size: 24px;
    transition: .3s;
    
}
nav .logo img {height:4em;
display: block;
padding-bottom: 2em;}

nav.black .logo{
    color: white;
}
nav ul{
    list-style:none;
    float:right;
    margin:0;
    padding:0;
    display:flex;
    color:white;
    
}
nav ul li{
    list-style:none;
    color:white;
    }

nav ul li a{
    line-height:80px;
    color:white;
    padding:12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    
    
    
}

nav.black ul li a{
    color:white;

}

nav ul li a:focus {
    outline:none;
}

nav ul li a.active{
    background: #E2472F;
    color:white;
    border-radius: 6px;
}

section.sec2{
    
 text-align: center;
    color:white;
    
}

.content{
    margin-top: 80px;
    
}
.content p{
    width: 900px;
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
    
}

.calendar iframe{display:block;
    margin-right:auto;
    margin-left:auto;
padding-top: 1em;}


.navbar-nav li .dropdown-menu { background-color: black;
color:black;}

.navbar-nav li{color:white;
}

.navbar-nav li a{color:white;}

div.mike{display:block;
margin-left: auto;
margin-right: auto;

width:40em;
padding-top:1em;
    padding-bottom: 0;
    margin-bottom: 0;
}



section.map{display: block;
    text-align: center;
margin-left: auto;
margin-right: auto;
padding-top: 1em;
color:white;}

.movelogin{display: block;
    
    
}
.container1{text-align: center;}
.login-page{width:600px;
padding: 10%;
margin:auto;
}
.container .form{
    position: relative;
    z-index: 1;
    background-color: black;
max-width: 600px;
    margin:0 auto 100px;
    padding:45px;
    text-align: center;
    
}
.form input{font-family: sans-serif;
outline: 1;
background: white;
width:100%;
border:0;
padding:15px;
box-sizing:border-box;
font-size: 14px;
    color:black;
    margin:3px;
}
.form button{font-family: sans-serif;
text-transform: uppercase;
outline: 0;
background:green;
width:100%;
border:0;
padding:15px;
cursor: pointer;
margin:3px;}
p.message{
    color:white;}

    
}
.form button:hover, .form button:active{
    background:black;
}

.form .register-form{

}
.form .message{margin:15px 0 0;
color:grey;;
font-size: 18px;}
.form .message a {color:#4b5320;
text-decoration: none;
}

.header h1 {text-align: center;
    color: black;
    font-size:2em;
    font-family: sans-serif;
}
.header img {display: block;
    margin-left: auto;
    margin-right: auto;
}
body {background-color: #4b5320;
margin:0;
    padding:0;
    font-family:Quicksand;
}

.pic1 img {display:block;
    margin-left:auto;
margin-right:auto;
    border-left: "5px";
    
}

.container{
background-color:black;
color:white;}
 
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100px;
    padding:10px 100px;
    box-sizing:border-box;
    transition:.3s;
    
    
}
.navbar-custom{background-color: black;
}
.navbar-toggler{
    color:white;
    background-color:white;
}

nav.black {background: #4b5320;
height:100px;
padding: 10px 100px;
}

nav .logo {
    padding: 22px 20px;
    height 80px;
    float: left;
    font-size: 24px;
    transition: .3s;
    
}
nav .logo img {height:4em;
display: block;
padding-bottom: 2em;}

nav.black .logo{
    color: white;
}
nav ul{
    list-style:none;
    float:right;
    margin:0;
    padding:0;
    display:flex;
    color:white;
    
}
nav ul li{
    list-style:none;
    color:white;
    }

nav ul li a{
    line-height:80px;
    color:white;
    padding:12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    
    
    
}

nav.black ul li a{
    color:white;

}

nav ul li a:focus {
    outline:none;
}

nav ul li a.active{
    background: #E2472F;
    color:white;
    border-radius: 6px;
}

section.sec2{
    
 text-align: center;
    color:white;
    
}
section.sec1{
    width:100%;
    height:60em;
    max-height:100%;
    max-width:100%;
    background:url(dpflag.jpg);
    background-size:100% 100%;
    background-position: center;
    margin-top:0px;
	background-repeat:no-repeat;

}

.content{
    margin-top: 80px;
    
}
.content p{
    width: 900px;
    margin: 30px auto;
    text-align: center;
    font-size: 20px;
    
}

.calendar iframe{display:block;
    margin-right:auto;
    margin-left:auto;
padding-top: 1em;}


.navbar-nav li .dropdown-menu { background-color: black;
color:black;}

.navbar-nav li{color:white;
}

.navbar-nav li a{color:white;}

div.mike{display:block;
margin-left: auto;
margin-right: auto;

width:40em;
padding-top:1em;
    padding-bottom: 0;
    margin-bottom: 0;
}

div.mikeheader{
    display: block;
    color:white;
    text-align: center;
    padding-top:0;
 
    padding-top:1em;
    font-size:3em;
}
section.mikebio{display:block;
    margin-left: auto;
    margin-right: auto;
color:white;
padding-left: 5em;
padding-right: 5em;
position: relative;}
section.mikebio B{
    color:white;
    font-size: 1.1em;
}


section.gym{width:100%;
height:60em;
background: url(gym.jpg);
background-repeat: no-repeat;
    background-position: center;
display: block;
margin-left: auto;
margin-right: auto;}

section.map{display: block;
    text-align: center;
margin-left: auto;
margin-right: auto;
padding-top: 1em;}

.movelogin{display: block;
    
    
}
.container1{text-align: center;}
.login-page{width:400px;
padding: 10%;
margin:auto;
}
.form{
    position: relative;
    z-index: 1;
    background-color: black;
max-width: 600px;
    margin:0 auto 100px;
    padding:45px;
    text-align: center;
    
}
.form input{font-family: sans-serif;
outline: 1;
background: white;
width:100%;
border:0;
padding:15px;
box-sizing:border-box;
font-size: 14px;
    color:black;
    margin:3px;
}
.form button{font-family: sans-serif;
text-transform: uppercase;
outline: 0;
background:green;
width:100%;
border:0;
padding:15px;
cursor: pointer;
margin:3px;}
p.message{
    color:white;}

    

.form button:hover, .form button:active{
    background:green;
}

.form .message{margin:15px 0 0;
color:grey;
font-size: 18px;}
.form .message a {color:#4b5320;
text-decoration: none;
}


.form .input-group {padding:5px;
}

.form .error p{color:white;
}

.aboutdeltaprime h1{text-align: center;
color:white;
padding-top:.5em;
    padding-bottom: .5em;}
.aboutdeltaprime{display:block;
margin-left: auto;
margin-right: auto;
color:white;
padding-right:5em;
padding-left: 5em;}

.aboutdeltaprime p{font-size: 1.15em;}

.successfullogout{
    text-align:center;
    padding-top:10em;
    color:white;
}

.registration{color:white;
display:block;
margin-right: auto;
margin-left: auto;
padding-top:1em;
padding-left:5em;
padding-right:5em;}

.dpchange{display:block;
margin-left: auto;
margin-right:auto;
text-align: center;}
